.teamNameBanner {
    background: #1e40a1;
    color: white;
    padding: 5px;
    font-weight: bold;
    margin-top: 25px;
}

.semi-white {
    background-color: #ffffff8f;
}

.attendedSession {
    background: #248968;
    color: white;
    padding: 5px;
}

.fixed {
    background: white;
    border-radius: 10px 10px 0 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid gray;
    border-bottom: 0;
    z-index: 9;
}

.img {
    margin: 0 auto;
}
.align-center {
    display: flex;
    justify-content: center;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}
.circle-image-wrapper {
    position: relative;
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}
.card-event {
    background-color:#ebf5fe;
}
.color-title {
    color: #321977;
}
.color-time, .color-location {
    color: #281d55;
}
.layout-item-speaker-card {
    display: flex;
}
.title-speaker {
    color: #321977;
    font-size: 1.5rem;
}
.title-session {
    color: #281d55;
    font-size: 1.15rem;
}
.image-banner {
    height: 30rem;
    width: -webkit-fill-available;
}
