.teamNameBanner {
    background: #1e40a1;
    color: white;
    padding: 5px;
    font-weight: bold;
    margin-top: 25px;
}

.semi-white {
    background-color: #ffffff8f;
}

.attendedSession {
    background: #248968;
    color: white;
    padding: 5px;
}

.fixed {
    background: white;
    border-radius: 10px 10px 0 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid gray;
    border-bottom: 0;
    z-index: 9;
}

.img {
    margin: 0 auto;
}
.align-center {
    display: flex;
    justify-content: center;
    /* padding-top: 0.4rem;
    padding-bottom: 0.4rem; */
    padding: 5px;
}
.align-left {
    display: flex;
    justify-content: left;
    padding-left:0.5rem;
    padding-top:0.2rem;
    padding-bottom:0.2rem;
}
.slds-icon
{
    height: 1rem !important;
    width: 1rem !important;
}
.slds-icon_small
{
    height: 1rem !important;
    width: 1rem !important;
}
.circle-image-wrapper {
    position: relative;
    width: 4.5rem;
    height: 4rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}
.keynote-image-wrapper {
    position: relative;
    width: 4rem;
    height: 5.5rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}
.card-event {
    background-color:#ebf5fe;
}
.slds-p-left_large
{

}
.color-title {
    color: #321977;
}
.color-time, .color-location {
    color: #281d55;
}
.layout-item-speaker-card {
    display: flex;
}
.title-speaker {
    color: #321977;
    font-size: .6rem;
    font-weight: bold;
    height: 25px;
    overflow: hidden;
}
.title-keynote {
    color: #321977;
    font-size: .8rem;
    font-weight: bold;
}
.title-session {
    color: #281d55;
    font-size: .6rem;
}
.image-banner {
    /* height: 30rem; */
    width: -webkit-fill-available;
}
.custom-card {
    background: linear-gradient(135deg, #e8e8e8 0%, #ffffff 50%, #e9ecffde 100%);
    border-radius: 12px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.icon-container {
    background-color: #ffffff;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon {
    color: #ff6f61; /* Vibrant color for the icon */
}

.title {
    font-size: 1.75rem;
    color: #003366; /* Dark blue color for the title */
    font-weight: bold;
    margin-bottom: 10px;
}

.message {
    font-size: 1.25rem;
    color: #004d40; /* Teal color for the message */
    font-weight: bold;
    margin-bottom: 0;
}
.clickable-item {
    cursor: pointer;
}

.slds-modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slds-modal__header h2 {
    margin: 0;
}
.custom-button .slds-button {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove border */
    color: white; /* White text */
    padding: 3px 6px; /* Smaller padding */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Inline-block element */
    font-size: 10px; /* Smaller font size */
    margin: 1px 0px; /* Smaller margin */
    cursor: pointer; /* Pointer/hand icon */
    border-radius: 3px; /* Slightly rounded corners */
    transition-duration: 0.4s; /* Smooth transition */
}

.custom-button .slds-button:hover {
    background-color: white; /* White background */
    color: black; /* Black text */
    border: 2px solid #4CAF50; /* Green border */
}
button{
    font-size: xx-small;
}
iframe {
    width: 100%;
    height: 300px;
    border: 0;
}

.reader {
    width: 100%;
}
button.slds-button.slds-button_brand.custom-width {
    width: 200px !important; /* Higher specificity */
  }


