
.white {
    color: white;
}

.slds-tabs_scoped__content {
    background-color: transparent !important;
    border: none;
    padding: 0;
}

.fix_button-group-flexbox {
    width: 100%;
}

.customtabs {
    --slds-c-tabs-list-color-border: transparent;
    --slds-c-tabs-item-spacing-inline-end: 0;
    --slds-c-tabs-item-spacing-inline-start: 0;
    --slds-c-tabs-panel-spacing-block-end: 0;
    --slds-c-tabs-panel-spacing-block-start: 0;
}

.slds-tabs_scoped__item {
    width: 50%;
}

.slds-tabs_scoped__overflow-button {
    display: none;
}

.slds-button-group {
    width: 100%;
}

.eqw {
    width: 50%;
}

.slds-button {
    width: 100%;
}

.menu-tabs {
    background: white;
    padding: 5px;
    border-radius: 8px;
}

.logo {
    max-height: 100px;
}

.logo-small {
    max-height: 75px;
}

.full-img {
    width: 100%;
}

.barcode {
    height: 100px;
    width: 100px;
}
.custom-card {
    background: linear-gradient(135deg, #ff7600 0%, #ffffff 50%, #0f860dde 100%);
    border-radius: 12px;
    padding: 20px;
    margin-top: 20px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.user-name {
    font-size: 0.9rem;
    font-weight: bold;
    max-width: 70%;
    overflow: hidden;
    max-height: 20px;
}

.user-points {
    font-size: 0.9rem;
    font-weight: bold;
}
.slds-button_icon {
    background-color: blue !important;
    border-radius: 50% !important; /* Makes the background a circle */
    padding: 0.5rem !important; /* Adjust padding as needed */
}

.slds-button_icon .slds-icon {
    fill: white !important;
}
